@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Amaranth);

body {
    font-size: 12px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    background-image: url("white_wall.png");
    line-height: 18px;
    margin: 0;
}
header{
    font-size: 25px;
    font-family: 'Amaranth', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px;
    color: rgb(228, 229, 235);
}
h2{
    font-size: 30px;
    font-family: 'Amaranth', 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #477936;
    margin-left: -30px;
    padding-bottom: 6px;
    text-indent: 4px;
}
h3{
    font-size: 16px;
    padding: 10px;
    margin-left: 3px;
}
p{
    margin: 0 0 0 0;
}
.link{
    position: absolute;
    width: 100%;
    text-align: right;
}
.link > a{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 60px;
}
.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 70px;
}
.example{
    background-color: #f2f2f2;
    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: auto;
}
.usage{
    font-size: 14px;
}
.usage-head{
    font-weight: bold;
    font-size: 16px
}
.method{
    margin-left: 10px;
}
.sample{
    max-width: 800px;
    font-size: 14px;
    padding-left: 20px;
    line-height: 45px;
    margin-left: 5%;
}
.box{
    margin-right: 70px;
    background-image: url("./texturetastic_gray.png");
}
.box2{
    margin-right: 70px;
    background-image: url("./fabric_of_squares_gray.png");
}
.rad-box{
    height: 45px;
    background-color: #FFC300;
}


#ani-rad{
    color: blue;
}
